bcrypt==4.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
FormEncode==2.1.1
idna==3.10
maskpass==0.3.7
mysqlclient==2.2.7
PyDispatcher==2.0.7
pynput==1.8.1
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
pyqt6-tools==6.4.2.3.3
PyQt6_sip==13.10.2
python-dotenv==1.1.1
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
requests==2.32.5
six==1.17.0
SQLObject==3.13.0
urllib3==2.5.0
